* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    background: hsl(240, 100%, 97%);
    font-family: "Roboto", sans-serif;
}
.container {
    height: 99.5vh;
    width: 80%;
    max-width: 400px;
    border: 1px solid #111;
    background-color: #eff;
    display: none;
    position: relative;
}
#name {
    position: absolute;
    font-size: 18px;
    background-color: #d6d6d6;
    border: 1px dotted #111;
    outline: none;
    padding: 5px 10px;
    width: 100%;
    top: 15%;
    height: 50px;
    text-transform: capitalize;
}
#email {
    position: absolute;
    font-size: 18px;
    background-color: #faf1f1;
    border: 1px dotted #111;
    outline: none;
    padding: 5px 10px;
    width: 100%;
    top: 30%;
    height: 50px;
}
#message {
    position: absolute;
    top: 50%;
    width: 100%;
    font-size: 16px;
    height: 40.5vh;
    outline: none;
    padding: 5px 5px;
    border: 1px dotted #111;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}
#send {
    position: absolute;
    bottom: 3px;
    width: 100%;
    padding: 10px 0;
    font-weight: bold;
    font-size: 20px;
    background-color: #d6d6d6;
    border: 2px dotted red;
    outline: none;
}
.signup{
    display: none;
    height: 180px;
    background-color: #eff;
    position: relative;
    width: 350px;
    margin-top: 40%;
}
.nameL1{
    position: absolute;
    top: 10%;
    left: 2%;
    font-size: 18px;
}
.emailL1{
    position: absolute;
    top: 25%;
    left: 2%;
    font-weight: bold;
    font-size: 18px;
}
.messageL1{
    position: absolute;
    top: 43%;
    left: 2%;
    font-size: 18px;
}
.logins {
    display: none;
    height: 200px;
    width: 350px;
    text-align: center;
    background-color: #eff;
    position: relative;
    margin-top: 40%;
}
.text {
    font-size: 13px;
    position: absolute;
    bottom: 15px;
    left: 85.5px;
}
.sign-text {
    color: blue;
    cursor: pointer;
}
.title {
    height: 30px;
    width: 100%;
    background-color: #111;
    text-align: start;
    user-select: none;
}
.done-button {
    border: 2px solid #eee;
    position: absolute;
    right: 0.5%;
    background-color: transparent;
    color: #fff;
    padding: 4.5px 10px;
    top: 0.5%;
    outline: none;
    cursor: pointer;
}
.exit-btn{
    position: absolute;
    right: 1%;
    top: 5%;
    background-color: transparent;
    color: #eee;
    border: 2px solid #eee;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
}
.log {
    font-size: 18px;
    color: #eee;
    position: absolute;
    left: 20%;
    top: 3px;
}
.active {
    display: block;
}
.head {
    height: 35px;
    width: 100%;
    background: #111;
    position: relative;
}
.logo {
    font-size: 20px;
    color: #eee;
    top: 2.5px;
    position: absolute;
    left: 10.5%;
    user-select: none;
}
.name {
    position: absolute;
    font-size: 16px;
    top: 30%;
    left: 20%;
    padding: 3px 5px;
    text-transform: capitalize;
}
#saveId{
    display: none;
}
.id {
    position: absolute;
    font-size: 16px;
    top: 68%;
    left: 20%;
    padding: 3px 5px;
}
.label-2 {
    position: absolute;
    margin-top: 21%;
    left: 40.5%;

}
label{
    font-style: italic;
    font-weight: 800;
}
.label-1 {
    position: absolute;
    margin-top: 6.5px;
    left: 40.5%;
}
